.footer {
  align-items: center;
  background: $wolox-blue;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-top: 200px;
  width: 100%;
}

.footer-title {
  font-size: 24px;
  margin-bottom: 25px;
}

.footer-rights {
  align-self: flex-end;
  font-size: 12px;
  margin-right: 20px;
}

.footer-font{
  color: white;
  font-family: "Roboto";
}
