.navbar {
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 8px 0 $wolox-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  background-color: $wolox-white;
  z-index: 2;
}

.logo {
  width: 250px;
  margin: 10px;
}

.tools-navbar{
  @extend .font;
  font-size: $fontsize-large;
}
