.techs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 0 15%;
  width: 100%;
}

.tech {
  background-color: $wolox-green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 50px;
  padding: 125px 30px 45px 15px;
  position: relative;
  height: 290px;
  width: 225px;
  z-index: 1;
}

.tech::before {
  border: 1px solid $wolox-green;
  border-radius: 10px;
  bottom: 15px;
  content: "";
  height: 290px;
  position: absolute;
  right: 15px;
  width: 225px;
  z-index: -1;
  transition: bottom, right 1s ease;
}

.tech:hover::before {
  bottom: -15px;
  right: -15px;
}

.subtitle {
  font-size: $fontsize-medium;
  margin-bottom: 5px;
  position: relative;
}

.subtitle-image {
  height: 90px;
  width: 90px;
  left: 60px;
  position: absolute;
  top: 20px;
  z-index: -1;
}

.tech-release {
  font-weight: bold;
}

.tech-text {
  margin-top: 15px;
}

.tech-font {
  @extend .font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
