.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 250px;
  width: 1200px;
}

.tech {
  background-color: $wolox-green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px 0 0 50px;
  padding: 125px 30px 45px 15px;
  position: relative;
  height: 290px;
  width: 225px;
  z-index: 1;
}

.tech::before {
  border: 1px solid $wolox-green;
  border-radius: 10px;
  bottom: 15px;
  content: "";
  height: 290px;
  position: absolute;
  right: 15px;
  width: 225px;
  z-index: -1;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
}

.subtitle-image {
  height: 90px;
  width: 90px;
  left: 60px;
  position: absolute;
  top: 20px;
  z-index: -1;
}

.tech-release {
  font-weight: bold;
}

.tech-text {
  margin-top: 15px;
}
