.title-text {
  @extend .font;
  display: inline;
  font-size: $fontsize-large;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.title-text::before {
  background: url("./assets/triangle.svg");
  background-repeat: no-repeat;
  content: "";
  height: 100px;
  left:-60px;
  position: absolute;
  top: -43px;
  width: 100px;
  z-index: -1;
}
