$almost-grey: #979797;
$black: #000000;
$dark-grey: #4A4A4A;
$dim-grey: #9B9B9B;
$grey: #D8D8D8;
$pretty-green: #A5CD39;
$light-blue: #00ADEE;
$light-grey: #F4F4F4;
$light-green: #BED23C;
$very-light-grey: #999999;
$white: #FFFFFF;
