$almost-grey: #979797;
$black: #000000;
$dark-grey: #4a4a4a;
$dim-grey: #9b9b9b;
$grey: #d8d8d8;
$pretty-green: #a5cd39;
$light-blue: #00adee;
$light-grey: #f4f4f4;
$light-green: #BED23C;
$very-light-grey: #999999;
$white: #ffffff;
