@import "../../constants/constants";

.log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;

  .log-in-button {
    background: $red;
    border-radius:4px;
    color: $white;
    font-size:15px;
    height:44px;
    letter-spacing:0px;
    line-height:19px;
    width:189px;
  }

  .log-in-texts{
    border: 1px solid $dim-grey;
    margin: 15px 0;
    letter-spacing:0px;
    line-height:19px;
    padding: 0 5px;
    text-align: center;
  }

  .log-in-inputs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 195px;
  }

  .log-in-alerts {
    color: $red;
    display: none;
    margin-left: 10px;
    white-space: nowrap;
  }

}
