@import "../../../../constants/constants";

.suggestions-container {
  border-bottom: 1px solid $light-blue;
  padding: 40px 0;

  .suggestions-books {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    justify-content: space-around;
  }

  .suggestions-image {
    background: $grey;
    height: 124px;
    position: relative;
    width: 87px;
  }

  .suggestions-image-default {
    position: absolute;
    height: 50px;
    right: 20px;
    width: 50px;
    bottom: 35px;
  }

  .suggestions-title {
    color: $pretty-green;
    font-size:20px;
    font-weight: bold;
    line-height:19px;
    margin-bottom: 15px;
    text-align:center;
  }
}
